.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    color: var(--text-color);
}

.title {
    font-size: 60px;
}

.link {
    color: rgb(1, 227, 150);
    text-decoration: none;
}

.link:active {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .container {
        margin-left: 30px;
    }

    .title {
        font-size: 20px;
    }
}