body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-color: rgb(255, 239, 239);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
  font-family: 'PT Serif', serif;
  height: 100%;
  background-image: linear-gradient(to right, #068ede, #9ce5f1);
}

body div {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

