.container {
    background-color: rgb(241, 240, 240);
    color: rgb(78, 67, 67);
    box-shadow: 0px 0px 10px 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container h2 {
    margin: 0 0 0 50px;
}

.container-buttons {
    display: flex;
    height: inherit;
}