.container {
    position: sticky;
    top: 0;
    background-color: transparent;
    color: var(--text-color);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerButtons {
    display: flex;
    height: inherit;
}

.title {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
}

@media only screen and (max-width: 800px) {
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        display: flex;
        align-items: center;
        margin: 0 0 0 5px;
        font-size: 15px;
    }
}